.mid{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    background: linear-gradient(180deg, rgba(0,0,0,0.16), rgba(0,0,0,0.8));
}

.ptag>p{
    color: white;
    font-weight: bold;
}

.mid>p{
    font-size: 50px;
    color: white;
    margin-left: 28%;
    margin-bottom: 15%;
}

.dec{
    border-radius: 5px;
}

.dec:hover{
    transform: scale(1.04)
}
.ps{
    color: white;
    font-weight: bold;
}